<section data-type="chapter" id="_capitulo_2_mobius">
  <h1>Transformaciones de Möbius</h1>

  <blockquote data-type="epigraph">
    <p>“Razonar en geometría es razonar con figuras mal hechas”</p>

    <p data-type="attribution">— David Hilbert</p>
  </blockquote>

  <a data-primary="vectors" data-type="indexterm"></a>

  <p style="text-align: justify;">
  Del estudio del análisis complejo sabemos que las funciones meromorfas e inyectivas en $\mathbb{C}$ 
  son las transformaciones fraccionarias lineales o transformaciones de Möbius (preserva orientación). 
   Estas funciones las podemos extender a la esfera Riemann.
  </p>  
  
  <p style="text-align: justify;">
    Una <strong>transformación fraccionaria lineal</strong> o <strong>transformación de Möbius (preserva orientación)</strong> $T$ 
 es una función de la esfera de Riemann $\hat{\mathbb{C}}$ sobre sí misma, cuya regla de asiganción es de la forma:
\begin{equation}\label{eq:trans_fracc_lineal}
T(z)=\frac{az+b}{cz+d},
\end{equation}
siendo $a,b,c$ y $d$ números complejos que satisface la relación $ad-cd\neq 0$.  
Los valores $a,b,c,d$ son llamados los <em> coeficientes de la transformación</em> y la expresión $ad-cb$ es el 
<em>el determinante de la transformación </em>, el cual se denota mediante ${\rm det}(T)$. En la regla de asignación de la 
 transformación $T$ se establecen las siguientes consideraciones:
  </p>
  <ol>
    <li>
      Si $c=0$, entonces la regla de correspondencia de $T$ está definida mediante 
\[
T(z)= \left\{
\begin{array}{ ll }
\dfrac{az+b}{d};  & \forall z\in\mathbb{C}, \\
\infty; & \text{ si } z=\infty.\\
\end{array}
\right.
\]
    </li>
    
    <li>
      Contrariamente, si $c\neq 0$,  entonces la regla de correspondencia de $T$ está definida mediante 
\[
      T(z)= \left\{
\begin{array}{ ll }
\dfrac{az+b}{cz+d};  & \forall z\in\mathbb{C}-\left\{\dfrac{-d}{c}\right\}, \\
\infty; & \text{ si } z=\dfrac{-d}{c},\\
\dfrac{a}{c}; & \text{ si } z=\infty.\\
\end{array}
\right.
\]
    </li>
   </ol>
  
  <p style="text-align: justify;">
    Este es es un ejemplo de párrafo
    \begin{eqnarray}\label{eq1}
    F(z)=Uz+\frac{U}{z}-\frac{i C}{2\pi}\log z.
    \end{eqnarray}
  </p>

  <!--Aqui entran los teoremas-->
  <div class="w3-card w3-container w3-light-gray w3-border-left w3-responsive" style="padding:8px 16px 8px 16px;">
    <p><strong>Teorema:</strong> Este es un ejemplo de teorema con lista
      <ol>
        <li>
          La pareja $(\hat{X}, \tau_{\infty})$ es un espacio topológico compacto y
          Hausdorff, donde $\overline{X}:=X\cup\{\infty\}$ y $\tau_{\infty}$ es la familia
          definida mediante
          \[
          \tau_{\infty}:=\{U: U \text{ abierto en } X\}\cup\{V\subset \hat{X}: X-V
          \text{ es compacto}\}.
          \]
        </li>
        <li>
          La topología inducida en $X$ por $\hat{X}$ es la de partida de $X$.
        </li>
      </ol>
    </p>
  </div>

  <br /><br />

  <section data-type="sect1" id="capitulo02_section1">

    <div class="w3-container w3-section">
      <h2>Titulo de seccion</h2>

      <hr>

      <p>
        Un párrafo...
        <ul>
          <li>listado</li>
          <li>listado</li>
          <li>listado</li>
        </ul>
      </p>


    </div>
  </section>

  <!--Aqui entran definiciones-->
  <div class="w3-card w3-container w3-light-gray w3-border-left w3-responsive" style="padding:8px 16px 8px 16px;">
    <p><strong>Definición:</strong> La <strong>Definicion</strong> puede ir aqui.</p>
  </div>

  <p>Otro ejemplo de parrafo.</p>


</section>
